@import url("reset.css");

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.error {
  color: red;
}

#room-list .room-list__container {
  max-width: 500px;
  border-radius: 0.2rem;
  border: 1px solid black;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: column;
  gap: 0.25rem;
  white-space: pre;
}

#room-list .room-list__play-button {
  margin-left: 0.5rem;
}

/* --------------- */

#game-view,
#room-list,
#name-prompt {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 2rem;
}

#game-view .game-view__container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

#game-view .game-view__bar-container {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

#game-view .game-view__bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid black;
}

#game-view .bar__score::before {
  content: '';
  margin: 0 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background-color: red;
}

#game-view .bar__score::after {
  content: '';
  margin: 0 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background-color: blue;
}

#game-view .bar__timer {
  margin-left: auto;
}

#game-view .game-view__canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#canvas {
  outline: none;
}

/* ------- */

.settings-btn {
  background-color: transparent;
  background-image: url("../images/gear.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
}

/* ------- */

.dialog {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  top: 0;
}

.dialog .dialog__container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  max-width: 200px;
  outline: 1px solid black;
  background-color: white;
}

#continue-dialog .continue-dialog__bar-container>div {
  width: 100%;
  height: 0.75rem;
  margin: 0 auto;
  background-color: orange;
}

#continue-dialog .continue-dialog__actions {
  display: flex;
  justify-content: right;
  gap: 1rem;
}


#settings-dialog.settings-dialog--hidden {
  display: none;
}

#settings-dialog .settings-dialog__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ------- */
#screen-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#screen-controls .screen-controls__arrows-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5%;
  row-gap: 0.5rem;
  column-gap: 3.5rem;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "up up"
    "left right"
    "down down";
}

#screen-controls [data-controls] {
  width: 0;
  height: 0;
  border-bottom: 3rem solid rgba(0, 0, 0, 0.5);
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
}

#screen-controls [data-controls].screen-controls__controls--pressed {
  border-bottom-color:rgba(255, 0, 0, 0.5);
}

#screen-controls [data-controls="up"] {
  grid-area: up;
}

#screen-controls [data-controls="right"] {
  grid-area: right;
  transform: rotate(90deg);
}

#screen-controls [data-controls="down"] {
  grid-area: down;
  transform: rotate(180deg);
}

#screen-controls [data-controls="left"] {
  grid-area: left;
  transform: rotate(270deg);
}

#screen-controls .screen-controls__action-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5%;
}

#screen-controls [data-controls="action"] {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
#screen-controls [data-controls="action"].screen-controls__controls--pressed {
  background-color: rgba(255, 0, 0, 0.5);
}
/* ------- */

#name-prompt .name-prompt__container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  max-width: 300px;
  outline: 1px solid black;
  background-color: white;
  border-radius: 0.2rem;
}


